body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #fff3e0, #ffe0b2);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  flex-direction: row; /* form a la izquierda, lista a la derecha */
  justify-content: center; /* centrar horizontal */
  align-items: flex-start; /* alinear arriba (puede ser center si querés vertical centrar) */
  gap: 3rem;
  padding: 2rem;
  max-width: 1000px;
  width: 100%;
}
